<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djc.springbootinit.mapper.ReservationMapper">

    <resultMap id="BaseResultMap" type="com.djc.springbootinit.model.entity.Reservation">
        <id property="id" column="id"/>
        <result property="teacherId" column="teacherId"/>
        <result property="time_slot" column="time_slot"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <result property="isDelete" column="isDelete"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,teacherId,time_slot,createTime,updateTime,isDelete
    </sql>
</mapper>
